{{ if .Params.FBquote }}
<div id="fb-root"></div>
<script>(function(d, s, id) {
var js, fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) return;
js = d.createElement(s); js.id = id;
js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.6";
fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
<div class="fb-quote"></div>
{{ end }}

  <footer>
  {{ partial "foot_custom.html" . }}
  
  {{ if and (not .Params.disable_mathjax) (or (in (string .Content) "\\") (in (string .Content) "$")) }}
  <!-- /js/mathjax-local/MathJax.js?config=TeX-AMS-MML_HTMLorMML -->
  <!-- //mathjax.rstudio.com/latest/MathJax.js?config=TeX-MML-AM_CHTML -->
  <!-- //cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML -->
  <script async src="/js/mathjax-local/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  {{ end }}

  {{ partial "footer_highlightjs" . }}
  {{ with .Site.Params.footer }}
  <hr>
  <div class="copyright">{{ . | markdownify }}</div>
  {{ end }}
  </footer>
  </article>
  {{ template "_internal/google_analytics.html" . }}
  </body>
</html>
