{{ if not .IsHome }}
<h1>{{ .Title }}</h1>
{{ with .Params.subtitle }}<h1><span class="subtitle">{{ . }}</span></h1>{{ end }}

<h3><a href="{{ .Params.mysite | default '#' }}">{{ .Params.author }}</a>
{{ if .Params.date }} 
  / {{ .Date.Format "2006-01-02" }}
{{ end }}
{{ if .Params.author }}
/
<!-- Determine file type: whether Rmd -->
  {{ if .Params.isRmd }}
    <a class='edit-btn' href='{{ print $.Site.Params.github "edit/master/content" $.URL "index.Rmd" }}'><img style='display:inline-block;height: 1em;margin-bottom:0' src='https://bit.ly/2RRirG7' /></a>
  {{ else }}
    <a class='edit-btn' href='{{ print $.Site.Params.github "edit/master/content" $.URL "index.md" }}'><img style='display:inline-block;height: 1em;margin-bottom:0' src='https://bit.ly/2RRirG7' /></a>
  {{ end }}
{{ end }}
  </h3>
<hr>
{{ end }}
